@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background: linear-gradient(226.71deg, #c7c1e6 17.12%, #dcd5e2 92.17%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
