@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background: linear-gradient(226.71deg, #c7c1e6 17.12%, #dcd5e2 92.17%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    color-scheme: light !important;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(-20px);
    height: 0px;
    opacity: 0;
  }
  100% {
    transform: translateY(-110px); /* Adjust this value as needed */
    opacity: 1;
  }
}

.slide-up {
  animation: slideUp 2s ease-in-out forwards;
}

@keyframes headEnvelopeRotate {
  0% {
    transform-origin: top;
    transform: scaleY(1) rotateX(0deg);
  }
  100% {
    transform-origin: top;
    transform: scaleY(1) rotateX(180deg);
  }
}

.head-env {
  animation: headEnvelopeRotate 1s ease-in-out forwards;
}
.card {
  width: 0;
  height: 0;
  border-top: 80px solid #eee;
  border-right: 136px solid #ddd;
  border-bottom: 80px solid #ccc;
  border-left: 136px solid #ccc;
}

.heart {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  border-radius: 10000px;
  animation: heartbeat 1.4s linear infinite;
}
.heart:hover {
  animation: heartbeat 0s linear infinite;
}

@keyframes heartbeat {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  70% {
    transform: translate(-50%, -50%) scale(1.4);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
